@import url(https://fonts.googleapis.com/css?family=Assistant);

#aligner{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
head{
  background-color: white;
}

body{
  background-color: white;
}

textarea{
  border-style: solid;
  border-width: 2px;
  height:300px;
  width:300px;
  font-family: 'Assistant', sans-serif;
  font-size:18px;
}
input.textEntry{
  width:200px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  font-family: 'Assistant', sans-serif;
  font-size:18px;
  font-weight: 200;
}

font.mainFont{
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
}
input.a_button{
  color: #343837;
  background-color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  padding: 16px 32px;
  margin: 12px 0px;
  border-color: black;
  border-width: 1.5px;
  font-family: 'Assistant', sans-serif;

}

input.a_button:hover{
  border-width: 2px;
  border-radius: 15px;
  transition: 1s;
  color: black;
}
