<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="myStyle.css" />
    <link rel="stylesheet" type="text/css" href="chat.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="PatientMessageStream.js"></script>
    <script type="text/javascript">

      var urlParams = new URLSearchParams(window.location.search);
      var pid = urlParams.get('pid');

      location.hash = '';

      var patientMessageStreams;

      function sendMessage() {
        var message = $("#messageTxt").val();
        if (message.length == 0)
          return;
        $("#messageTxt").val("");
        $.post({
          url: '/send_message',
          data: { "message": message, "pid": pid },
          success: function(response) {
            if (response.success == true) {
              getAndDisplayAllData();
            }
            else
              console.log(response.errorMessage);
          }
        })
      }

      function getAndDisplayAllData() {
        patientMessageStreams = [];
        $.get({
          url: '/all_patient_data',
          success: function(response) {
            if (response.success == true) {
              for (var i = 0; i < response.results.length; i++) {
                makeAndSavePatientFromData(response.results[i]);
              }
              fetchAllMessages().done(function() {
                displayAllData();
              })
            }
            else
              console.log(response.errorMessage);
          }
        })
      }

      function makeAndSavePatientFromData(patientData) {
        var patientMessageStream = new PatientMessageStream(patientData);
        patientMessageStreams.push(patientMessageStream);
      }

      function fetchAllMessages() {
        var requests = [];
        for (var i = 0; i < patientMessageStreams.length; i++) {
          requests.push(patientMessageStreams[i].getMessageData());
        }
        return $.when.apply($, requests);
      }

      function displayAllData() {
        displayPatientsPanel();
        displayCurrentChatScreen();
      }

      function displayPatientsPanel() {
        sortPatientsByRecent();
        var htmlInject = "";
        for (var i = 0; i < patientMessageStreams.length; i++) {
          htmlInject += patientMessageStreams[i].toHtml();
        }
        $(".friend-list").html(htmlInject);
        $(".patient-" + pid).addClass('active bounceInDown');
        bindPatientClickHandler();
      }

      function sortPatientsByRecent() {
        patientMessageStreams.sort(function(a, b) {
          return b.getLastMessageTimestamp() - a.getLastMessageTimestamp();
        })
      }

      function displayCurrentChatScreen() {
        if (pid == undefined)
          return;
        var currentPatientStream = getPatientStreamByPid(pid);
        var htmlInject = currentPatientStream.getChatHtml();
        $(".chat").html(htmlInject);
      }

      function getPatientStreamByPid(pid) {
        for (var i = 0; i < patientMessageStreams.length; i++) {
          if (patientMessageStreams[i].patientData['pid'] == pid)
            return patientMessageStreams[i];
        }
      }

      function bindPatientClickHandler() {
        window.onhashchange = function () {
          var hashValue = window.location.hash.substring(1);
          pid = parseInt(hashValue);
          displayAllData();
        }
      }

      function initializeWebSocket() {
        var ws = new WebSocket('ws://' + window.location.host);
        console.log('ws://' + window.location.host);
        ws.onmessage = function (ev) {
          var messageData = JSON.parse(ev.data);
          if (messageData.pid == pid)
            getAndDisplayAllData();
        }
      }

      $(document).ready(function () {
        getAndDisplayAllData();
        initializeWebSocket();
      });

    </script>

  </head>
  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form action="/Login" method="post">
          <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </form>
      </nav>
    </div>

    <div class='card'>
      <div class="container bootstrap snippet">
          <div class="row">
          <div class="col-md-4 bg-white ">
                  <div class=" row border-bottom padding-sm" style="height: 40px;">
                    Member
                  </div>
                  
                  <!-- =============================================================== -->
                  <!-- member list -->
                  <ul class="friend-list">

                  </ul>
          </div>
              
              <!--=========================================================-->
              <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                  <div class="chat-message">
                      <ul class="chat">
                      
                      </ul>
                  </div>
                  <div class="chat-box bg-white">
                    <div class="input-group">
                      <input id="messageTxt" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                      <span class="input-group-btn">
                        <button onclick="sendMessage()" class="btn btn-success no-rounded" type="button">Send</button>
                      </span>
                    </div><!-- /input-group -->	
                  </div>            
          </div>        
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>