<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="myStyle.css" />
    <link rel="stylesheet" type="text/css" href="chat.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">

      var urlParams = new URLSearchParams(window.location.search);
      var pid = urlParams.get('pid');

      function sendMessage() {
        var message = $("#messageTxt").val();
        if (message.length == 0)
          return;
        $("#messageTxt").val("");
        $.post({
          url: '/send_message',
          data: { "message": message, "pid": pid },
          success: function(response) {
            if (response.success == true) {
              console.log("success");
              getAndDisplayPatientMessages();
            }
            else
              console.log(response.errorMessage);
          }
        })
      }

      function displayPatientName() {
        $.get({
          url: '/patient_name',
          data: { "pid": pid },
          success: function(response) {
            if (response.success == true)
              $(".name").html(response.result);
            else
              console.log(response.errorMessage);
          }
        })
      }

      function getAndDisplayPatientMessages() {
        $.get({
          url: '/patient_messages',
          data: { "pid": pid },
          success: function(response) {
            if (response.success == true)
              displayPatientMessagesFromJSON(response.results);
            else
              console.log(response.errorMessage);
          }
        })
      }

      function displayPatientMessagesFromJSON(messageData) {
        setMessageTimes(messageData);
        sortMessagesByTime(messageData);
        var allMessageHtmlString = "";
        for (var i = 0; i < messageData.length; i++) {
          var messageHtmlString = getHtmlForMessageObject(messageData[i]);
          allMessageHtmlString += messageHtmlString;
        }
        $("#chat").html(allMessageHtmlString);
        $('#chat').scrollTop($('#chat')[0].scrollHeight);
      }
      
      function getHtmlForMessageObject(messageObj) {
        var answer = "";
        var classTags = messageObj['from_patient'] ? "'message'" : "'message self'";
        var timeString = getPrettyStringForDateObj(messageObj['time_sent']);
        answer += "<div class=" + classTags + ">";
        answer += messageObj['message'];
        answer += "<p class='smallTime'>" + timeString + "</p>";
        answer += "</div>";
        return answer;
      }

      function setMessageTimes(messageData) {
        for (var i = 0; i < messageData.length; i++) {
          var timeString = messageData[i]['time_sent'];
          var timeObj = convertSqlTimestampToLocalObject(timeString);
          messageData[i]['time_sent'] = timeObj;
        }
      }

      function sortMessagesByTime(messageData) {
        messageData.sort(function(a, b) {
          return a['time_sent'] - b['time_sent'];
        })
      }

      /**
       * Takes in MySQL UTC timestamp string
       * Converts to local time
       * Returns Javascript Date Object
       */
      function convertSqlTimestampToLocalObject(timestamp) {
        // string modifications
        timestamp = timestamp.replace("T", " ");
        timestamp = timestamp.substring(0, timestamp.length - 5);
        // split into year, month, day, etc
        var t = timestamp.split(/[- :]/);
        // create the date objects
        var date = new Date(Date.UTC(t[0], t[1]-1, t[2], t[3], t[4], t[5]));
        return date;
      }

      function initializeWebSocket() {
        var ws = new WebSocket('ws://' + window.location.host);
        console.log('ws://' + window.location.host);
        ws.onmessage = function (ev) {
          var messageData = JSON.parse(ev.data);
          if (messageData.pid == pid)
            getAndDisplayPatientMessages();
        }
      }

      function getPrettyStringForDateObj(dateObj) {
        var daysArr = ["Sun", "Mon", "Tues", "Wed", "Thur", "Fri", "Sat"];
        var monthArr = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        var hour = dateObj.getHours();
        var minutes = dateObj.getMinutes();
        var suffix = dateObj.getHours() < 12 ? "am" : "pm";
        if (isToday(dateObj))
          return "Today at " + hour + ":" + minutes + suffix;
        var day = daysArr[dateObj.getDay()];
        var dayOfMonth = dateObj.getDate();
        var month = monthArr[dateObj.getMonth()];
        var year = dateObj.getYear() + 1900;
        return day + " " + month + " " + dayOfMonth + " " + year + " at " + hour + ":" + minutes + suffix;
      }

      function isToday(someDate) {
        const today = new Date();
        return someDate.getDate() == today.getDate() &&
          someDate.getMonth() == today.getMonth() &&
          someDate.getFullYear() == today.getFullYear();
      }

      $(document).ready(function () {
        displayPatientName();
        getAndDisplayPatientMessages();
        initializeWebSocket();
      });

    </script>

  </head>
  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form action="/Login" method="post">
          <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </form>
      </nav>
    </div>

    <div class='card'>
      <div class="container bootstrap snippet">
          <div class="row">
          <div class="col-md-4 bg-white ">
                  <div class=" row border-bottom padding-sm" style="height: 40px;">
                    Member
                  </div>
                  
                  <!-- =============================================================== -->
                  <!-- member list -->
                  <ul class="friend-list">
                      <li class="active bounceInDown">
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>John Doe</strong>
                          </div>
                          <div class="last-message text-muted">Hello, Are you there?</div>
                          <small class="time text-muted">Just now</small>
                          <small class="chat-alert label label-danger">1</small>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Jane Doe</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">5 mins ago</small>
                        <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                        </a>
                      </li> 
                      <li>
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Kate</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">Yesterday</small>
                          <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                      </li>  
                      <li>
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Kate</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">Yesterday</small>
                          <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                      </li>     
                      <li>
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Kate</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">Yesterday</small>
                          <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                      </li>        
                      <li>
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_6.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Kate</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">Yesterday</small>
                          <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                      </li>          
                      <li>
                        <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_5.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Kate</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">Yesterday</small>
                          <small class="chat-alert text-muted"><i class="fa fa-reply"></i></small>
                        </a>
                      </li>
                      <li>
                          <a href="#" class="clearfix">
                          <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                          <div class="friend-name">	
                            <strong>Jane Doe</strong>
                          </div>
                          <div class="last-message text-muted">Lorem ipsum dolor sit amet.</div>
                          <small class="time text-muted">5 mins ago</small>
                        <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                        </a>
                      </li>                 
                  </ul>
          </div>
              
              <!--=========================================================-->
              <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                  <div class="chat-message">
                      <ul class="chat">
                          <li class="left clearfix">
                            <span class="chat-img pull-left">
                              <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">John Doe</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              </p>
                            </div>
                          </li>
                          <li class="right clearfix">
                            <span class="chat-img pull-right">
                              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">Sarah</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                              </p>
                            </div>
                          </li>
                          <li class="left clearfix">
                              <span class="chat-img pull-left">
                              <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">John Doe</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              </p>
                            </div>
                          </li>
                          <li class="right clearfix">
                              <span class="chat-img pull-right">
                              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">Sarah</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                              </p>
                            </div>
                          </li>                    
                          <li class="left clearfix">
                              <span class="chat-img pull-left">
                              <img src="https://bootdey.com/img/Content/user_3.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">John Doe</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              </p>
                            </div>
                          </li>
                          <li class="right clearfix">
                              <span class="chat-img pull-right">
                              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">Sarah</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                              </p>
                            </div>
                          </li>
                          <li class="right clearfix">
                              <span class="chat-img pull-right">
                              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
                            </span>
                            <div class="chat-body clearfix">
                              <div class="header">
                                <strong class="primary-font">Sarah</strong>
                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 13 mins ago</small>
                              </div>
                              <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. 
                              </p>
                            </div>
                          </li>                    
                      </ul>
                  </div>
                  <div class="chat-box bg-white">
                    <div class="input-group">
                      <input class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                      <span class="input-group-btn">
                        <button class="btn btn-success no-rounded" type="button">Send</button>
                      </span>
                    </div><!-- /input-group -->	
                  </div>            
          </div>        
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>