
body {
  font-family: "Lato", sans-serif;
}

.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-color: #343a40  !important;
  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
      margin-top: 60%;
      margin-left: 20%;
  }
}

.login-main-text{
  margin-top: 30%;
  margin-left: 30%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

.btn-black{
  background-color: #343a40;
  color: #fff;
}

/* HomePage Cards */

.user-name{
  margin-top: 2%;
  margin-left: 5%;
}

.card-body2{
  height: 100%;
  width: 60%;
  margin-top: 10%;
  margin-left: 20%;
}

/* user page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 100px;
  right: 28px;
  width: 280px;
}

.big-button {
  background-color: #4CAF50;
  color:white;
  padding: 16px 20px;
  width: 280px;
  opacity: 0.8;
  position: absolute;
  top: 100px;
  right: 320px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

#patient-table-card {
  position: relative;
  top: 40px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 1000;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

#aligner{
  width: 800px;
  margin: 0 auto;
}

.table-responsive{
  margin-top: 8%;
  margin-left: 10%;
  margin-right: 10%;
  width: 70%;
}

.thread-dark{
  color: #555;
}


