<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="myStyle.css" />

    <title>Home Page</title>
  </head>
  <body>
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Collapsed content</h5>
          <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <form action="/logout" method="post">
          <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
        </form>
      </nav>
      
      <button class="open-button" onclick="openForm()">Open Form</button>
      
      <div class="form-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <div class="form-group">
            <label>First Name</label>
            <input name="fName" type="text" class="form-control" placeholder="User Name">
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input name="lName" type="text" class="form-control" placeholder="Password" >
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input name="number" type="text" class="form-control" placeholder="Ex: 815-222-3333">
          </div>
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
      
      
    </div>

    <!-- Optional JavaScript -->
    <script>
      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }
      
      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }
      </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>











    <!-- <head>
    <link href="https://fonts.googleapis.com/css?family=Alatsi|Righteous&display=swap" rel="stylesheet">
    <link href="http://mvrhy.x10host.com/OUD/myStyle.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="myStyle.css" />
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="sidebar">
      <a href="HomePage.html">Patient entry</a>
      <br>
      <a href="database.html">Database</a>
      <br>
      <a href="Login.html">Logout</a>
    </div>
    <div id="aligner">
      <br><br><br>
      <font class=mainFont>
      First name:<br><br>
      Last name: <br><br>
      Phone: <br><br>
      <input class=msgButton type=button value="Send Message"><br><br>
      <a href="database.html">Back to users</a><br>
    </div>

  </body> -->
</html>
